@model IEnumerable<CodeAcademy.Models.Course>

@{
    ViewData["Title"] = "Courses";
}
@if (!string.IsNullOrEmpty(ViewData["EnrollmentMessage"] as string))
{
    <div class="alert alert-success" role="alert">
        @ViewData["EnrollmentMessage"]
    </div>
}

@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
{
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"]
    </div>
}


<h1>Courses</h1>



<div class="container">
    <div class="row">
        @if (User.IsInRole("Teacher"))
        {
            <p>
                <a class="btn btn-primary" asp-action="Create">Create New</a>
            </p>
        }
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="URL_TO_IMAGE" alt="Course Image">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        <p class="card-text"><small class="text-muted">Teacher: @Html.DisplayFor(modelItem => item.Teacher.UserId)</small></p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        @if (User.IsInRole("Student"))
                        {
                            <a class="btn btn-primary btn-sm" asp-action="Enroll" asp-route-id="@item.CourseId">Enroll to the course</a>
                        }
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.CourseId">Edit</a>
                            <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.CourseId">Details</a>
                            <a class="btn btn-sm btn-outline-secondary" asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
